[Unit]
Description=The JBCS Apache HTTP Server

[Service]
Type=forking
ExecStart={{ httpd_home }}/sbin/apachectl start
ExecReload={{ httpd_home }}/sbin/apachectl graceful
ExecStop={{ httpd_home }}/sbin/apachectl stop

[Install]
